.titulo-principal {
    padding-left: 20px;
}

#banner {
    width: 100%;
}

.principal {
    background: #CCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.beneficios {
    background: #FFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 20%;
}

li.itens {
    font-style: italic;
}

img.imagem-beneficios {
    width: 50%;
}
